    <hr>
      <div class="col-md-12" style="padding-left: 30px">
        <div class="row">
          <div class="col-md-4">
            <center>
            </center>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
<center><h2 style="margin-bottom: 50px;">Bizi Takip Edin</h2></center>
      <footer>
        
        <ul>
          <li>
            <a href="https://discord.gg/ADMUXGQyxu">Discord <i class="fab fa-discord"></i></a>
          </li>
          
          <li>
            <a href="https://www.instagram.com/lordofreapers/">Instagram <i class="fab fa-instagram"></i></a>
          </li>
          
          <li>
            <a href="https://discord.gg/ADMUXGQyxu">Bot <i class="fab fa-discord"></i></a>
          </li>
          
          <li>
           <a href="https://www.youtube.com/asreaper">Youtube <i class="fab fa-youtube"></i></a>
          </li>
            
        </ul>
        <h6>
          Tüm Hakları Gizlidir | <a href="https://discord.gg/9ZWkYkHvTU" target="_blank">Resmi Discord Sunucumuz <i class="fab fa-discord"></i></a></h6>
</footer>

    </div>
  </body>
</html>