    <hr>
      <div class="col-md-12" style="padding-left: 30px">
        <div class="row">
          <div class="col-md-4">
            <center>
            </center>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
<center><h2 style="margin-bottom: 50px;">Bizi Takip Edin</h2></center>
      <footer>
        
        <ul>
          <li>
            <a href="">Buraya Yaz覺</a>
          </li>
          
          <li>
            <a href="">Buraya Yaz覺</a>
          </li>
          
          <li>
            <a href="">Buraya Yaz覺</a>
          </li>
          
          <li>
           <a href="">Buraya Yaz覺</a>
          </li>
            
        </ul>
        
</footer>

    </div>
  </body>
</html>