<%- include('blocks/header', {bot, user, path}) %>

<html>
<head>
<style>
body {
background-color: #111218
}
</style>
</head>
</html>
  <div style="background-color: #111218; align: center;" class="jumbotron">
    <div>
      <br><br>
      <div class="css-3d-text">Asreaper Discord Bot</div>
            <p><a style="border-color: #111218; background-color: #111218;-webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 5px 15px 4px rgba(0,0,0,0.5); box-shadow: 0px 10px 13px -7px #000000, 9px 5px 15px 4px rgba(0,0,0,0.5);" class="btn btn-primary" href="/komutlar" role="button">Komutlar</a></p>
      

      <iframe src="https://discord.com/widget?id=784495067997798450&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
  </div>
<% include ./blocks/footer %>