<%- include('blocks/header', {bot, user, path}) %>

<div class="card-columns">
        <div class="card">
          <center>
          <h3 class="card-header">Komut Adı</h3>

        
          <div class="card-body">
            <p class="card-text">Komut Adı</p>
            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"><center>Göster</center></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
          </div>
        </div>
      <a 
        <div id="Modal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header btn-info disabled">
                <center>
                  <h4 class="modal-title"><center>    sa</center></h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <center>
              <div class="modal-body">
                <p>Örnek Kullanım: </p>
                <p>Diğer Kullanımlar: </p>
              </div>
              </center>
                <div class="modal-footer"><center><button type="button" class="btn btn-outline-danger" data-dismiss="modal"><center>Kapat</center></button></center></div>
            </div>
  </div>
  
  <div class="card-columns">
        <div class="card">
          <center>
          <h3 class="card-header">Komut Adı</h3>

        
          <div class="card-body">
            <p class="card-text">Komut Adı</p>
            
            <h6 class="card-subtitle text-muted">İzin: Gerekmiyor<br> <br><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal"><center>Göster</center></a></h6>
            <br>
                                    <center>     <a href="/panel">Komutu Dene <i class="fab fa-discord"></i></a></center>
</center>
          </div>
        </div>
      <a 
        <div id="Modal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header btn-info disabled">
                <center>
                  <h4 class="modal-title"><center>    sa</center></h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <center>
              <div class="modal-body">
                <p>Örnek Kullanım: </p>
                <p>Diğer Kullanımlar: </p>
              </div>
              </center>
                <div class="modal-footer"><center><button type="button" class="btn btn-outline-danger" data-dismiss="modal"><center>Kapat</center></button></center></div>
            </div>
  </div>




<% include ./blocks/footer %>