<%- include('blocks/header', {bot, user, path}) %>

<div class="card-columns">
        <div class="card">
          <h3 class="card-header">Komut Adı</h3>
        
          <div class="card-body">
            <p class="card-text">sa</p>
            <h6 class="card-subtitle text-muted">İzin: <br /><a href="#" data-toggle="modal" data-target="#<%= `` %>Modal">Göster</a></h6>
          </div>
        </div>
      <a 
        <div id="Modal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header btn-info disabled">
                <center>
                  <h4 class="modal-title"><center>    sa</center></h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <center>
              <div class="modal-body">
                <a>Örnek Kullanım: </a>
                <a>Diğer Kullanımlar: </a>
           <p href="https://www.youtube.com/asreaper">Youtube <i class="fab fa-youtube"></i></p>
              </div>
              </center>
                <div class="modal-footer"><center><button type="button" class="btn btn-outline-danger" data-dismiss="modal"><center>Kapat</center></button></center></div>
            </div>
          </div>
        </div>
<% include ./blocks/footer %>