<%- include('blocks/header', {bot, user, path}) %>
<html>
<head>
<style>
body {
background-color: #111218
}
</style>
</head>
</html>
<html>
  <center><a href="https://discord.gg/ADMUXGQyxu">Discord <i class="fab fa-discord"></i></a></center>
</html>
<% include ./blocks/footer %>